.cardContainer{
  width: 300px;
  height:fit-content;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin:1em;
  padding:1em;
}

.cardContainer h4 {
  padding: 0.3em 0.8em;
  margin-top: 0 !important;
  font-family: 'Zilla Slab';
  padding-top: 0 !important;
  color: #8a8a8a;
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 0.1em;
}

.cardContainer h2 {
  padding: 0.3em 0.4em;
  font-family: 'Zilla Slab';
  margin-bottom: 0 !important;
  font-size: 2em;
  padding-bottom: 0;
}

.cardContainer .rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}