*{
  margin: 0;
padding:0;
box-sizing: border-box;
}

body {
height: 100vh;
background: hsl(202, 82%, 44%); 
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  
background: linear-gradient(to right, #2B32B2, #1488CC); 
}

#root{
  height: 100%;
}